<template>
  <div class="home-visits"><Visits /></div>
</template>

<script>
import Visits from "@/components/Visits";
export default {
  name: "rwv-home-my-feed",
  components: {
    Visits
  }
};
</script>
