<template>
  <div>
    <rwv-list-errors :errors="errors"> </rwv-list-errors>
    <form
      class="card comment-form"
      v-on:submit.prevent="onSubmit(slug, comment);"
    >
      <div class="card-block">
        <textarea
          class="form-control"
          v-model="comment"
          placeholder="Write a message for check in"
          rows="3"
        >
        </textarea>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-primary" >Check in</button>
      </div>
    </form>
    <form
      class="card comment-form"
      v-on:submit.prevent="onSubmitReview(slug, review)"
    >
      <div class="card-block">
        <textarea
          class="form-control"
          v-model="review"
          placeholder="Write a review"
          rows="3"
        >
        </textarea>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-primary" >Send review</button>
<!--        <p>{{review}}</p>-->
      </div>
    </form>
  </div>
</template>

<script>
import RwvListErrors from "@/components/ListErrors";
import { COMMENT_CREATE } from "@/store/actions.type";
import { REVIEW_CREATE } from "../store/actions.type";

export default {
  name: "RwvCommentEditor",
  components: { RwvListErrors },
  props: {
    slug: { type: String, required: true },
    content: { type: String, required: false }
  },
  data() {
    return {
      comment: this.content ,
      review: this.content ,
      errors: {}
    };
  },
  methods: {
    onSubmit(slug, comment) {
      this.$store
        .dispatch(COMMENT_CREATE, { slug, comment })
        .then(() => {
          this.comment = this.content;
          this.errors = {};
        })
        .catch(({ response }) => {
          this.errors = response.data.errors;
        });
    },
    onSubmitReview(slug, review){
      this.$store
        .dispatch(REVIEW_CREATE, { slug, review})
        .then(() => {
          this.review = null;
          this.errors = {};
        })
        .catch(({ response }) => {
          this.errors = response.data.errors;
        });

    }
  }
};
</script>
