<template>
  <footer>
    <div class="container">
      <router-link class="logo-font" :to="{ name: 'home', params: {} }">
        c-soon
      </router-link>
      <span class="attribution" align="center">
        This govnocode &amp; govnodesign licensed under Nikita Biryulin and Ilya
        Ravin.
      </span>
    </div>
  </footer>
</template>

<script>
export default {
  name: "RwvFooter"
};
</script>
