<template>
  <div class="article-preview">
    <RwvArticleMeta isPreview :article="article" />
    <router-link :to="articleLink" class="preview-link">
      <table>
        <tr>
          <td width="50%">
            <h1 v-text="article.name" />
            <p v-text="article.description" />

            <table>
              <tr>
                <td><p v-text="article.address" style="color:#5cb85c "></p></td>

                <td>
                  <p
                    v-text="article.mobile"
                    style="color:#5cb85c;margin-left: 20px;"
                  ></p>
                </td>
              </tr>
            </table>

            <p v-text="article.type" style="text-decoration: underline"></p>
            <div class="circle">
              <div class="circle__number" v-text="article.rating"></div>
            </div>
          </td>

          <td>
            <img
              :src="article.photo"
              align="right"
              width="60%"
              height="150px"
            />
          </td>
        </tr>
      </table>

      <TagList :tags="article.tagList" />
    </router-link>
  </div>
</template>

<script>
import RwvArticleMeta from "./ArticleMeta";
import TagList from "./TagList";

export default {
  name: "RwvArticlePreview",
  components: {
    RwvArticleMeta,
    TagList
  },
  props: {
    article: { type: Object, required: true }
  },
  computed: {
    articleLink() {
      return {
        name: "article",
        params: {
          slug: this.article.slug
        }
      };
    }
  }
};
</script>
<style>
.circles {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #fff;
}

.circle {
  background: #5cb85c;
  padding: 15px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  max-width: 10px;
  max-height: 10px;
}

.circle__number {
  font-size: 1rem;
  color: #ffffff;
}
</style>
