<template>
  <div>
    <button align="left" class="btn btn-lg btn-primary pull-xs-left" @click="clickedShowFirst">Показать активный визит</button>

    <div v-if="data != null">
      <!-- {{data}} -->

      <h1 v-text="this.data.restsByRestsId.name"></h1>
      <img :src="this.data.restsByRestsId.photo" width="300" height="150" align="right"/>
      <p>Меню</p>
      <table border="3px" bordercolor="#5cb85c">
        <tr v-for="item in menus">
        <td align="center" width="10%" >{{ item.id}}</td>
        <td align="center" width="10%" >{{ item.name}}</td>
        <td align="center" width="10%" >{{ item.composition}}</td>
        <td align="center" width="10%">{{item.price}}</td>
        <td align="center" width="10%">{{item.availability}}</td>
        </tr>

      </table>


      <br />

      <br />
      <br />
      <br />
      <p> Ваш заказ </p>
      <table border="3px" bordercolor="#5cb85c">

        <tr v-for="item in orders">
          <td align="center" width="10%" >{{ item.menuByMenuId.name}}</td>
          <td align="center" width="10%">{{item.status}}</td>
        </tr>

      </table>
      <!-- <p v-text="menus[0].name"></p> -->
    </div>
    <div v-else>Пока нет активных визитов</div>

  </div>

</template>

<script>
import Vue from "vue";
import axios from "axios";
import VueAxios from "vue-axios";
import RwvArticle from "../views/Article";
export default {
  components: { RwvArticle },
  data: function() {
    return {
      // We default to showing the first block
      showingFirst: true,
      menus: [100],

      name: null,
      data: null,
      orders: null
    };
  },

  methods: {
    clickedShowFirst: function() {
      axios
        .get(
          "http://macbook-air-ila.local:8080/restapac/rest/user/getactivevisit"
        )
        .then(response => this.setThings(response.data));

      this.menus = this.data.restsByRestsId.menusById;
    },

    clickedShowSecond: function() {
      this.showingFirst = false;
    },

    setThings: function(data) {
      this.data = data;
      this.menus = data.restsByRestsId.menusById;

      this.orders = data.orderdCollection;
    }
  }
};
</script>
